/* .loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgb(229 225 225 / 51%);;
    z-index: 9998;
}

.loader-container .spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #F63D68 transparent #F63D68 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}


@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

.loadingSpinner {
    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 8px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}